.inner_table {
    height: 180px;
    overflow-y: auto;
}
.wrap {
    width: 352px;
}

.menuTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Black;
	letter-spacing : 0px;
	line-height : 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 3px solid #FF6600;
}

.tbody {
 height: 400px;
 overflow: auto;
}
.logout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: underline;
	text-align: right;
	cursor: pointer;
}


.errorPage {
	color: red; 
	font-size: 15px; 
	font-style: normal; 
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.logo-line {
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #FF9900;
	text-align: right;
}

.ContentColTitle {
	font-size: 16px;
	font-weight: bold;
	color: #0099CC;
	font-family: "Century Gothic", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}
.searchtable {
  display: block;
  height: 500px;
  overflow-y: scroll;
}
.form-label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00536F;
	font-weight: bold;
	padding-right: 1px;
	padding-left: 1px;
}

.label-black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	padding-right: 1px;
	padding-left: 1px;
}

.wizardButtonmir {
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	FONT-WEIGHT: bold;

align:center;
	FONT-SIZE: 10px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: white;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-STYLE: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #369;
	font-weight: bold
}

.row1 {
	
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	cellspacing: 1;
	background-color: #D8EAFB;
}
.row2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	cellspacing: 0;
	overflow-y:auto;	
	background-color: #F2F6F9;
}

.headerbar {
	background-color: #b0d7e6;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}


/* This is the class for all links */
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0086D7;
	text-decoration: underline;
	text-align: right;
}

/* This is the class for all visited links */
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0086D7;
	text-decoration: underline;
	text-align: right;
}

/* This is the class for all links */
.aTitle:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	text-align: right;
}

/* This is the class for all visited links */
.aTitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	text-align: right;
}

.groupLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font:bold;
	
}
.group {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0099cb;
}

.link-description-for-specific {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}

.link-description {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}


.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0086D7;
	text-decoration: underline;
	text-align: right;
	cursor: pointer;
}

.ListTable {
	padding: 0px 10px;
	border-left: 1px solid #DDDBDB;
}

.disabledLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099cb;
	text-decoration: underline;

}





.link-left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #800080; /*#0099cb*/
	text-decoration: underline;
	cursor: pointer;
}

.select-all {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0099cb;
	text-decoration: underline;
	text-align: left;
	cursor: pointer;
}



.wizardTextBox {
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #888888;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:5px;
	margin-right:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.wizardDropBox {
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	border: 1px solid #666666;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	margin-right:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.wizardButton 
{
	height: 22px;
	color: #29527A; 
	font-weight: bold; 
	font-size: 11px; 
	font-style: normal; 
	text-align: center;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

legend {
	color: #555555; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.legend-div {
	background-color: #FFFFFF;
	color: #29527A; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.select-div {
	border : solid 1px #0099cb; 
	height : 400px; 
	overflow : auto; 
}

.selected-div {
	background-color: #FFFFFF;
	border : solid 1px #BBBBBB; 
	height : 150px; 
	overflow : auto; 
}



.SectionHeader {
	font-family: "Century Gothic", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0099CB;
	text-transform: uppercase;
	padding-left: 15px;
}

.data {
	color: #000; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.data-bold {
	color: #000; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.data-selected {
	color: #000; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #DDDDDD;
}


.ColumnHeader {
	font-weight: bold;
	color: #0086d7;
	padding: 2px;
	vertical-align: middle;	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	background-color: #D8EAFB;
}

.ColumnDataOdd {
	background-color: #F0FCFF;
	color: #000; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.ColumnDataEven {
	background-color: #FFFFFF;
	color: #000; 
	font-size: 11px; 
	font-style: normal; 
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.messageText {
	color: #009900; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
}

.errorText {
	color: #E60000; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
}

a.menu-item:link, a.menu-item:visited {
	color:#000000;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	text-decoration: none;
}
a.menu-item:hover, a.menu-item:active {
	color:#0086D7;
}
a.menu-item-selected:link, a.menu-item-selected:visited {
	color:#E68A00;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	text-decoration: none;
}
a.menu-item-selected:hover, a.menu-item-selected:active {
	color:#0086D7;
}





